numpy
pandas
scikit-learn
Pillow
matplotlib
tensorflow
keras
seaborn
scipy
ipykernel
jupyter
astropy
opencv-python
pyarrow
datetime
gpustat
tensorrt
scikit-image
p_tqdm
comet_ml
ultralytics
wandb
neptune
neptune-tensorflow-keras
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
torchmetrics
